{
  "packages/**/*.{ts,tsx,js}": ["prettier --write"],
  "apps/**/*.{ts,tsx,js}": ["prettier --write"],
  "apps/**/*.{css,scss}": [
    "stylelint \"**/*.(scss|css)$\" --allow-empty-input"
  ],
  "*.{json,md}": ["prettier --write"]
}
